<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<connectionStrings>
  <add name="CleanCode" connectionString="Data Source=TvT;Initial Catalog=CleanCode;Integrated Security=True" />
  <add name="Cleancode2.Properties.Settings.CleanCodeConnectionString"
   connectionString="Data Source=TvT;Initial Catalog=CleanCode;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>